.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form_wrapper {
    width: 40%;
    padding: 20px;
}

.table_wrapper {
    width: 60%;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.form_group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form_group_radio {
    margin-bottom: 20px;
}

.content_radio {
    display: flex;
    gap: 20px;
}
button:hover{
    color: red;
}